{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<section>
    <h2>Contact Us</h2>
    <p>Feel free to get in touch with us using the following contact details:</p>

    <p><strong>V.T. FOODS PVT. LTD.,</strong></p>
    <p>(An FSSC, ISO, Kosher, Halal Certified Company)</p>
    <p>Manufacturer exporter of Dehydrated Onion, Dehydrated Garlic, and spices.</p>
    <p>(Government Recognized Export House)</p>

    <p><strong>Reg. Office:</strong></p>
    <address>
        G-9, VIVEKANAND COMPLEX, VASI TALAV,<br>
        MAHUVA-364 290, (DIST: BHAVNAGAR) INDIA
    </address>

    <p><strong>Factory:</strong></p>
    <address>
        Savarkundla road, Nesvad<br>
        MAHUVA - 364 290. (DIST:BHAVNAGAR) INDIA
    </address>

  <p><strong>Email:</strong> vtfoods.onion@gmail.com</p>
<p><strong>Mobile:</strong> +91-9978136555 / +91-9428496265</p>
<p><strong>Skype:</strong> <a href="skype:your.skype.username?call"><img src="https://via.placeholder.com/30x30" alt="Skype Logo"></a> jitendra.vaghela1</p>
<p><strong>WhatsApp:</strong> <a href="https://wa.me/your-whatsapp-number"><img src="https://via.placeholder.com/30x30" alt="WhatsApp Logo"></a> +91-9978136555</p>
<p><strong>Web:</strong> <a href="http://www.vtfoods.com" target="_blank">www.vtfoods.com</a> / <a href="http://www.vtfoods.in" target="_blank">www.vtfoods.in</a></p>
<p><strong>GST NO.:</strong> 24AABCV9367M1ZP</p>

</section>
{% endblock %}
