{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section style="text-align: center;">
  <h2 style="color: #336699;">Welcome to V.T. FOODS PVT. LTD.</h2>
  <p style="font-size: 18px; color: #555;">
    VT FOODS PVT LTD, based in Mahuva, Gujarat, is a renowned manufacturer and exporter of high-quality Dehydrated Products. Our core offerings include Dehydrated Garlic and Dehydrated Onions. With a strong commitment to quality and efficiency, we have successfully met the demands of bulk orders and earned much appreciation from our valued clients.
  </p>

  <p style="font-size: 18px; color: #555;">
    Our company holds <span style="color: #336699;">ISO 22000:2005</span> and <span style="color: #336699;">D-U-N-S-No 65-038-2372</span> certifications, attesting to the authenticity of our products and our unwavering credibility. We take pride in conducting our business with utmost ethics, which has allowed us to establish a firm presence in European markets, particularly Germany, and gain recognition in major markets such as Russia.
  </p>

  <p style="font-size: 18px; color: #555;">
    Our extensive product distribution network serves Food & Spice Importers, Food Manufacturers, Food Wholesalers, and more. This robust network has contributed significantly to building a large customer base both domestically and internationally. Furthermore, our dedication to exceeding client expectations has set a new standard for customer satisfaction. Choose VT FOODS PVT LTD for superior Dehydrated Products that consistently meet your needs.
  </p>

  <p style="font-size: 18px; color: #555;">
    In addition, we have also earned much appreciation for efficiently meeting the bulk requirements of the market. The <span style="color: #336699;">ISO 22000:2005</span> and <span style="color: #336699;">D-U-N-S-No 65-038-2372</span> Certifications of the company reflect the genuineness of the products and our credibility. By adopting ethical business practices, the company has established a strong foothold in the regions of Europe, especially Germany, and has also received praise from major markets in Russia. Our products are extensively supplied to Food & Spice Importers, Food Manufacturers, Food Wholesalers, etc. Our strong networking has further contributed to a significant clientele both domestically and internationally. Lastly, we have raised the bar of customer satisfaction by consistently catering to the exact expectations of our clients.
  </p>
</section>
{% endblock %}
