{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
  <h2>Products</h2>
  <ul>
    {% for product in products %}
      <li>
        <h3>{{ product.name }}</h3>
        <p>Packing: {{ product.packing }}</p>
        <p>Weight: {{ product.weight }} KGS</p>
        {% if product.rate %}
          <p>Rate: Rs.{{ product.rate }} per kg. ex-factory</p>
        {% endif %}
        <p>Specification: {{ product.specification }}</p>
        <p>Grade: {{ product.grade }}</p>
        <img src="{{ product.photo.url }}" alt="{{ product.name }} Photo" width="200">


        {% if user.is_authenticated %}
                <a href="{% url 'product_detail' product.pk %}">View</a>
          <a href="{% url 'product_update' product.pk %}">Edit</a>
          <a href="{% url 'product_delete' product.pk %}">Delete</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <a href="{% url 'product_create' %}">Create a New Product</a>
  {% endif %}
{% endblock %}

